body {
    margin:0em;
}

.cover {
    height:400px;
    background-image: url(https://i.pinimg.com/originals/fd/9c/35/fd9c35e2088b143f23acddb191fe7051.jpg);
    background-size: cover;
    background-position: center;
    background-color:rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}